// This config only for cypress. All site babel config located in craco.config.js
// Don't combine custom-babel-config.js with this config (if do this lot of warnings in storybook )
// Also can't make separate config for storybook  (https://storybook.js.org/docs/react/configure/babel)
{
    "presets": [["@babel/preset-env"], "@babel/preset-typescript"],
    "plugins": [
        "babel-plugin-twin",
        // don't change order it's important!
        "babel-plugin-macros",
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        ["@emotion"]
    ]
}
